*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.active a{
    color: rgba(165, 153, 165);
    text-decoration: underline 2px;
    text-underline-offset: 5px;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgba(252, 132, 71);
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-links{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 8px rgba(252, 132, 71);

}
.nav-links li{
    margin: 0 30px;
    text-transform: capitalize;
}

header{
    width: 100vw;
    height: 100vh;
    background-image: url("./img/landing.jpg");
    background-position: center ;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    
    margin-bottom: 400px;
    width: 800px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    
}

.header-content h2{
    color: #fff;
    font-size: 5vmin;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.line{
    width: 180px;
    height: 4px;
    background: white;
    margin: 10px auto;
    border-radius: 5px;
    
}

.header-content h1{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 8px rgba(252, 132, 71);
    font-size: 7vmin;
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.ctn{
    background-color: orangered;
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 15px;
    color: rgba(43, 59, 82);
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
}
section{
    width: 80%;
    margin: 80px auto;
}

.title{
    font-size: 4vmin;
    text-align: center;
}


.grid-box1,
.grid-box2,
.grid-box3,
.grid-box4{
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 500px;
    background: url("./img/card1.jpg");
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}



.events .row{
    margin-top: 30px;
}

.content-box{
    /* background-color: aqua; */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 items per row */
    gap: 10px;
    justify-content: space-around;
    align-items: center;
    /* padding: 10px; */
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    place-items: center;
}
.grid{
    width: 500px;
    padding: 8px;
    
}
.box {
  /* width: 320px; */
  display: -webkit-box;
  -webkit-line-clamp: 3;       /* how many lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}


