*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

.active{
    color: whitesmoke !important;
    text-decoration: underline 2px !important;
    text-underline-offset: 5px;
}

.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 20px;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px rgbargba(255, 68, 0, 0.802);
    letter-spacing: 2px;
    cursor: pointer;
    font-size: 30px;
}

.nav-links{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    text-shadow: 0 0 8px rgba(255, 68, 0, 0.802);

}

.nav-links li{
    margin: 0 30px;
    text-transform: capitalize;
}

header{
    height: 100vh;
    background-image: url("./img/landing.jpg");
    background-position: center ;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content{
    margin-bottom: 400px;
    width: 800px;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    
}

.header-content h2{
    color: rgb(255, 255, 255);
    font-size: 5vmin;
    letter-spacing: 2px;
    text-transform: capitalize;
    position: relative;
    top: 65px;
}

.line{
    width: 180px;
    height: 4px;
    background: rgba(255, 68, 0, 0.802);
    margin: 10px auto;
    border-radius: 5px;
    
}

.header-content h1{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 8px rgba(252, 132, 71);
    font-size: 7vmin;
    margin-top: 10px;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.ctn{
    background-color: rgba(255, 68, 0, 0.802);
    padding: 8px 15px;
    margin-top: 10px;
    border-radius: 15px;
    color: rgba(43, 59, 82);
    border: none;
    text-transform: capitalize;
    text-decoration: none;
    color: white;
    
}

section{
    width: 80%;
    margin: 0px auto;
}

.title{
    font-size: 2vmin;
    text-align: center;
    margin-bottom: 90px;
    padding-top: 30px;
    
}

.grid-box1,
.grid-box2,
.grid-box3,
.grid-box4,
.grid-box5,
.grid-box6,
.grid-box7,
.grid-box8{
    display: flex;
    flex-direction: row;
    width: 290px;
    height: 250px;
    background: url("./img/card1.jpg");
    background-position: center;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.grid-box1{
    text-align: left;
}

.grid-box2{
    background-image: url('./img/card5.jpg');
    text-align: right;
}

.grid-box3{
    background-image: url('./img/card3.jpg');
    text-align: left;
}

.grid-box4{
    background-image: url('./img/card4.jpg');
}

.grid-box5{
    background-image: url('./img/card7.jpg');
}

.grid-box6{
    background-image: url('./img/card8.jpg');
}

.grid-box7{
    background-image: url('./img/card9.jpg');
}

.grid-box8{
    background-image: url('./img/card10.jpg');
}

.events .row{
    margin-top: 30px;
}

.events{
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, whitesmoke, rgb(246, 183, 172), whitesmoke);
    backdrop-filter: blur(50px);
    
}

.content-box{
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(4,1fr);
    gap: 50px;
    margin-top: 20px;
    position: relative;
    bottom: 50px;

}

.grid{
    width: 300px;
    height: 420px;
    padding: 5px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}

.box {
  display: -webkit-box;
  -webkit-line-clamp: 3;       
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bbox{
    background-color: rgba(245, 245, 245, 0.432);
    padding: 38px 15px;
    border-radius: 10px;  
}

.stitle{
    text-align: start;
    padding: 0px 8px;
    margin-top: 20px;
    font-size: 22px;
    color:  rgba(255, 68, 0, 0.802);
}

.grid p{
    color:rgba(29, 27, 38);
    text-align: start;
    padding: 0px 8px;
    margin-top: 10px;
    font-size: 16px;
    width: 270px;
}

.explore{
    width: 100%;
    height: 100vh;
    background-image: url(./img/explore.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.explore-content{
    width: 60%;
    padding: 50px;
    color: whitesmoke;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explore-content h1{
    letter-spacing: 5px;
    font-size: 5vmin;
    margin-bottom: 165px;
}

.explore-content p{
        width: 500px;
        color: rgb(221, 221, 221);
}

.explore-content .ctn{
    margin-bottom: 20px;
}

.tours .row .col{
    width: 80%;
    height: 50vh !important;
}

.tours .img-gallery{
    display: grid;
    grid-template-columns: 2fr 2fr;
}

.img-gallery img{
    width: 400px;
    height: 300px;
    padding: 10px;
    margin: 10px;
}

.row{
    display: flex;
    margin-top: 50px;
}

.content-col{
    margin-top: 100px;
}

.tours h1{
    font-size: 80px;
    margin-bottom: 10px;
    color: rgba(255, 68, 0, 0.802);
}

.content-col p{
    display: -webkit-box;
    -webkit-line-clamp: 3;       
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 15px;
    width: 600px;
}

.footer{
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin-top: 80px;
    background: rgba(255, 68, 0, 0.802);
    text-align: center;
}

.footer p{
    margin: 20px auto;
    color: whitesmoke;

}

.my-sig{
    position: relative;
    color: #ff6d39;
}
